body{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #252525;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-blend-mode: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.loader{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #252525;
  color: #faca08;
  font-size: 25px;
  overflow: hidden;
}

.loader .loading_boxes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 70px;
  height: 70px;
  place-items: center;
  position: relative;
  animation: revolve 4s ease-in-out infinite;
}

.loader .loading_boxes .load_box{
  width: 15px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #faca08;
}

.loader .loading_boxes .load_box:nth-child(1){
  place-self: end end;
}

.loader .loading_boxes .load_box:nth-child(2){
  place-self: end start;
}

.loader .loading_boxes .load_box:nth-child(3){
  place-self: start end;
}

.loader .loading_boxes .load_box:nth-child(4){
  place-self: start start;
}

@keyframes revolve{
  0%,100%{
    transform: rotate(45deg);
    gap: 15px;
  }
  12.5%,37.5%,62.5%,87.5%{
    gap: 5px;
  }
  25%{
    transform: rotate(135deg);
    gap: 15px;
  }
  50%{
    transform: rotate(225deg);
    gap: 15px;
  }
  75%{
    transform: rotate(315deg);
    gap: 15px;
  }
}

.landing_page{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: center;
  background-color: #252525;
  color: #faca08;
}

.header .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99.5%;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0,0,0,0.64);
  border-bottom: 2px solid hsl(42, 99%, 50%);
  position: absolute;
  top: 0;
}

.header .navbar .jazbaat_logo{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  margin-left: 20px;
  position: relative;
  bottom: 5px;
}

.header .navbar .jazbaat_logo img{
  width: 200px;
  height: 60px;
}

.header .navbar .navIcon{
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5px;
  padding-right: 35px;
  font-size: 40px;
  color:#faca08;
}

.header .navbar .navIcon .barIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #faca08;
  border-radius: 5px;
  padding: 3px;
}

.header .hide{
  display: none;
}

.header .navbar .side_nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 70px;
  background-color: rgba(0,0,0,0.64);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  animation: dropdown 1s ease-in-out;
}

@keyframes dropdown{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0%);
  }
}

.header .navbar .side_nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}

.header .navbar .side_nav ul li{
  margin: 10px 0;
  cursor: pointer;
}

.header .navbar .nav{
  display: none;
  width: 40%;
}

.header .navbar .nav ul{
  display: flex;
  justify-content: space-evenly;
  gap: 3%;
  font-size: 20px;
  align-items: center;
  width: 100%;
  padding: 0;
  list-style: none;
  letter-spacing: 0.9px;
}

.header .navbar .nav ul li{
  cursor: pointer;
}

.header .navbar .nav ul li:last-child{
  padding-right: 20px;
}

.header .navbar ul li:hover{
  color: hsl(42, 99%, 50%);
  text-shadow: 2px 2px 10px black;
}

.jazbaat_banner .main_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.jazbaat_banner .main_logo img{
  margin-top: 10%;
  width: 100%;
  aspect-ratio: 631/502;
  min-width: 250px;
  max-width: 631px;
}

.jazbaatLogoImg{
  display: none;
}

.jazbaatLogoGif{
  display: block;
  animation: firstAnimation 2s ease-in-out;
}

@keyframes firstAnimation{
  0%{
    opacity: 0;
    transform: translateY(-10%);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: linear-gradient(90deg, #121212 0%, #252525 100%);
  color: rgb(241, 234, 234);
  font-size: 20px;
  padding: 0;
  position: relative;
  z-index: 2;
}

.about p{
  margin-inline: 10%;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 5%;
}

.about p .highlightWord:hover{
  color: hsl(42, 99%, 50%);
  cursor: pointer;
}
.events>h1,.about h1,.gallery_header h1, .team_section h1{
  display: block;
  width: 100%;
  text-align: center;
  color: hsl(0, 0%, 28%);
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 5px;
  cursor: pointer;
  margin-top: 5%;
  text-transform: uppercase;
  background: linear-gradient(to right, hsl(42, 82%, 72%) 0, hsl(58, 90%, 72%) 10%, hsl(42, 99%, 50%) 20%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 60vw;
  }
  100% {
    background-position: 100vw;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.event-card {
  position: relative;
  display: flex;
  background-color: #121212;
  margin: 20px 20px 0 20px;
  gap: 3%;
  border-radius: 20px;
  cursor: default;
}

.card {
  display: flex;
  width: 560px;
  height: 500px;
  overflow: hidden;
  margin: 10px;
  border-radius: 20px;
  z-index: 2;
}

.card-bg {
  width: 100%;
  height: 100%;
  transform: scale(1);
  background-position: center;
  background-size: cover;
  transition: 1s;
}

.card-bg:hover {
  transform: scale(1.1);
  filter: grayscale(0.5);
}

.card-info {
  display: flex;
  flex-direction: column;
  color: rgb(241, 234, 234);
  text-align: left;
  overflow: hidden;
  width: 60%;
  z-index: 2;
}

.card-info p {
  margin: 10px 15px 10px 0;
  font-size: 20px;
  max-height: 200px;
  word-wrap: break-word;
}

.card-info h1 {
  font-size: 6vw;
  margin: 16px 0;
  color: rgb(247, 219, 106);
}

.card-info a {
  displaY: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  border: 2px solid rgb(247, 219, 106) ;
  border-radius: 20px;
  background: transparent;
  color: rgb(241, 234, 234);
  font-size: 25px;
  width: 150px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  margin-top: 10%;
  padding: 5px 20px;
  text-decoration: none;
  cursor: pointer;
}

.card-info a:hover {
  background: rgb(247, 219, 106) ;
  color: #121212;
  & span{
    translate: 0 -42px;
    transition: translate 0.5s;
  }
}

.card-info a:active {
  opacity: 0.8;
}

.container-div {
  width: 100%;
}

.gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  background: linear-gradient(90deg, #121212 0%, #252525 100%);
  color: rgb(241, 234, 234);
  font-size: 20px;
  position: relative;
  z-index: 2;
  margin-top: 20px;
  overflow-x: hidden;
}

.gallery_header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gallery .gallery_media{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  place-items: center;
  width: 100%;
  height: 100%;
  margin-top: 25px; 
}

.gallery .gallery_media img{
  width: 70%;
  border: 10px solid rgb(241, 234, 234);
  border-bottom: 60px solid rgb(241, 234, 234);
  aspect-ratio: 10/9;
  object-fit: cover;
  position: relative;
  z-index: 0;
  filter: grayscale(0.5);
  box-shadow: 0 0 0 0.3px #252525;
}

.gallery .gallery_media img:nth-child(1){
  margin-left: 55%;
  rotate: 10deg;
}

.gallery .gallery_media img:nth-child(2){
  rotate: -5deg;
  z-index: 1;
}

.gallery .gallery_media img:nth-child(3){
  margin-right: 50%;
  rotate: -12deg;
}

.gallery .gallery_media img:nth-child(4){
  margin-left: 55%;
  width: 70%;
  rotate: -15deg;
  z-index: 1;
}

.gallery .gallery_media img:nth-child(5){
  margin-top: -20%;
  width: 80%;
  z-index: 2;
  aspect-ratio: 5/4;
}

.gallery .gallery_media img:nth-child(6){
  margin-right: 55%;
  width: 70%;
  rotate: 20deg;
  z-index: 1;
}

.gallery .gallery_media img:nth-child(7){
  margin-left: 50%;
  margin-top: -25%;
}

.gallery .gallery_media img:nth-child(8){
  margin-top: -40%;
  rotate: -5deg;
  z-index:3;
}

.gallery .gallery_media img:nth-child(9){
  margin-top: -25%;
  margin-right: 50%;
  rotate: 5deg;
} 

.gallery .gallery_media img:hover{
  transform: scale(1.1);
  filter: grayscale(0);
  rotate: 0deg;
  z-index: 10;
  transition: 0.2s;
}

.gallery a{
  displaY: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  border: 2px solid rgb(247, 219, 106) ;
  border-radius: 20px;
  background: transparent;
  color: rgb(241, 234, 234);
  font-size: 25px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  margin: 25px 0;
  padding: 5px 20px 6px 20px;
  text-decoration: none;
  cursor: pointer;
}

.gallery a:hover {
  background: rgb(247, 219, 106) ;
  color: #121212;
  & span{
    translate: 0 -42px;
    transition: translate 0.5s;
  }
}

.gallery a:active {
  opacity: 0.8;
}

.team_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(90deg, #121212 0%, #252525 100%);
  color: rgb(241, 234, 234);
  font-size: 20px;
  position: relative;
  z-index: 1;
  margin-top: 20px;
  overflow-x: hidden;
}

.team_section .team_cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.team-card-wrap {
  margin: 30px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: 2;
  
  &:hover {
    .team-card-bg {
      transition: 
        0.6s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
      opacity: 0.8;
    }
    .team-card {
      transition: 0s cubic-bezier(0.23, 1, 0.32, 1);
      border: 2px solid rgb(247, 219, 106) ; 
    }
    .team-card-info{
      animation: travel 0.33s ease-out 1;
    }
    .team-card-info p:nth-child(1) {
      display: none;
    }
    .team-card-info p:nth-child(2) {
      display: block;
    }
    .team-card-contact{
      display: flex;
    }
  }
}

@keyframes travel{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(30%);
  }
}

.team-card {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 0 0 240px;
  width: 380px;
  height: 430px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid rgb(251, 205, 20);
  transition: 0s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  margin:50px;
}

.team-card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px; 
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:
    1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.team-card-info {
  padding: 20px;
  position: absolute;
  bottom: 30px;
  color: rgb(241, 234, 234);
  transform: translateY(30%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.team-card-info:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .team-card-info p{
    font-size: 35px;
    font-weight: 650;
    text-shadow: rgba(black, 0.5) 0 10px 10px;
    color: rgb(250, 202, 8);
  }

  .team-card-info p:nth-child(1) {
    display: block;
  }

  .team-card-info p:nth-child(2){
    display: none;
    margin-bottom: 0;
  }

  .team-card-contact{
    display: none;
    width: 100%;
  }

  .team-card-info span{
    font-size: 25px;
    font-weight: 400;
    margin-inline: 10px;
    color: rgb(250, 202, 8);
    & a{
      color: rgb(250, 202, 8);
      text-decoration: none;
    }
  }

.footer_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 10px;
  padding-top: 20px;
  font-size: 30px;
  background: linear-gradient(to right, rgb(250, 202, 8), rgb(182, 152, 30));
}

.footer_section div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #252525;
}

.footer_section div a{
  color: #252525;
  text-decoration: none;
}

.footer_section .footer-links{
  font-size: 20px;
}


@media (width>=900px){
  .header .navbar .navIcon{
    display: none;
  }
  .header .navbar .nav{
    display: flex;
  }
  .popUpLetter:hover {
    position: relative;
    bottom: 0.7vw;
    font-size: 6vw;
    color: hsl(58, 90%, 72%);
    transition: cubic-bezier(0.23, 1, 0.320, 1);
  }
  .bg-blob{
    display: block;
  }
}

@media (780px<width<=900px){
  .popUpLetter:hover {
    position: relative;
    bottom: 0.7vw;
    font-size: 8vw;
    color: hsl(58, 90%, 72%);
    transition: cubic-bezier(0.23, 1, 0.320, 1);
  }
  .card-info p{
    font-size: 18px;
  }
}

@media (550px<width<=780px){
  .jazbaat_banner .main_logo img{
    width: 85%;
  }
  .about p{
    font-size: 15px;
  }
  .event-card{
    flex-direction: column;
  }
  .card{
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-info{
    position: absolute;
    opacity: 0;
    width: 93%;
    height: 90%;
    padding: 22px 0 20px 30px;
    line-height: 1.3;
    backdrop-filter: blur(5px);
    border-radius: 20px;
  }
  .card-info:hover{
    opacity: 1;
    transition: 0.9s;
  }
  .card-info p{
    font-size: 18px;
  }
  .card-info h1{
    margin-top: 30px;
    font-size: 15vw;
  }
  .gallery .gallery_media img{
    border: 7px solid rgb(241, 234, 234);
    border-bottom: 40px solid rgb(241, 234, 234);
  }
}

@media (300px<width<=550px){
  .loader{
    font-size: 40px;
  }
  
  .loader .loading_boxes{
    width: 60px;
    height: 60px;
  }
  .header .navbar .jazbaat_logo img{
    width: 150px;
    height: 45px;
  }
  
  .header .navbar .navIcon{
    font-size: 25px;
    padding-right: 25px;
  }
  .jazbaat_banner .main_logo img{
    width: 90%;
  }
  .about p{
    margin-inline: 5%;
  }
  .about h1,.events>h1,.gallery_header h1,.team_section h1{
    font-size: 17vw;
    animation: shine 6s infinite linear;
  }
  .event-card{
    flex-direction: column;
  }
  .card{
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-info{
    position: absolute;
    opacity: 0;
    width: 93%;
    height: 90%;
    padding: 22px 0 20px 16px;
    line-height: 1.3;
    backdrop-filter: blur(5px);
    border-radius: 20px;
  }
  .card-info:hover{
    opacity: 1;
    transition: .9s;
  }
  .card-info p{
    font-size: 15px;
  }
  .card-info h1{
    margin-top: 30px;
    font-size: 15vw;
  }
  .gallery .gallery_media img{
    border: 5px solid rgb(241, 234, 234);
    border-bottom: 30px solid rgb(241, 234, 234);
  }
  .team-card{
    width: 250px;
    height: 300px;
  }
  .team-card-wrap{
    margin: 0px;
  }
  .team-card-info p{
    font-size: 25px;
  }
  .footer_section{
    padding-top: 0;
    font-size: 5vw;
    gap: 0;
  }
  .footer_section .footer-links{
    font-size: 3vw;
  }
}

@media (width<=300px){
  .loader{
    flex-direction: column;
    gap: 0px;
  }
  .header .navbar .jazbaat_logo img{
    width: 150px;
    height: 45px;
  }
  
  .header .navbar .navIcon{
    font-size: 25px;
    padding-right: 25px;
  }
  .jazbaat_banner .main_logo img{
    width: 90%;
  }
  .about h1,.events>h1,.gallery_header h1,.team_section h1{
    font-size: 17vw;
    animation: shine 6s infinite linear;
  }
  .card-info a{
    padding-top: 0;
    margin-top: 40px;
  }
  .event-card{
    flex-direction: column;
  }
  .card{
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-info{
    position: absolute;
    opacity: 0;
    width: 93%;
    height: 95%;
    padding: 15px 14px;
    line-height: 1.3;
    backdrop-filter: blur(5px);
    border-radius: 20px;
  }
  .card-info:hover{
    opacity: 1;
    transition: .9s;
  }
  .card-info p{
    font-size: 14.5px;
  }
  .card-info h1{
    margin-top: 30px;
    font-size: 15vw;
    width : auto;
  }
  .gallery .gallery_media img{
    border: 5px solid rgb(241, 234, 234);
    border-bottom: 20px solid rgb(241, 234, 234);
  }
  .gallery a{
    font-size: 20px;
  }
  .team-card{
    width: 200px;
    height: 250px;
  }
  .team-card-wrap{
    margin: 0px;
  }
  .team-card-info p{
    font-size: 20px;
  }
  .team-card-contact span{
    font-size: 20px;
    margin-inline: 5px;
  }
  .footer_section{
    padding-top: 0;
    font-size: 5vw;
    gap: 0;
  }
  .footer_section .footer-links{
    font-size: 3vw;
  }
}